.gitignore
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
temp/posix_sockets.h
temp/qmisc.c
temp/qpiri.c
temp/solarmon.c
Solarmon-HA-MQTT.code-workspace
.vscode/arduino.json
.vscode/extensions.json
include/passwd.h
include/README
lib/README
src/main.ino
include/passwd.h
